*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.love {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.beautiful-text-for-love {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.font-nav{
    font-weight: 550;
}

.pink-backgroud{
    background-color: #F6C1CB;
}

.center-margin{
    margin-left: auto;
    margin-right: auto;
}

.pd-l-r{
    padding-left: 0px !important;
    padding-right: 0px !important
}

.pd-t-b{
    padding-top: 0px !important;
    padding-bottom: 0px !important
}

.img{
    max-width: 100%;
    height: auto;
}

.pd-header{
    padding-top: 17px;
    padding-bottom: 17px
}

.change{
    border-radius: 20px;
}

.change:hover{
    background-color: #000;
}

.change:hover>a{
    color: #fff;
}

.button-dark{
    background-color: #000;
}
