{% extends "base.html" %}

{% block content  %}
    <div class = "container">

        <div class ="jumptron text-center">
            <h1>To do list app</h1>
            <p class = "lead"></p>
            <p>
                <a class = "btn btn-lg btn-success" href="/signup">Sign up now<a>
            </p>
        </div>

        <div class = "row marketing text-center">
            {%for todoitem in todolist%}
            <div class = "col-sm-4">
                <h4>{{todoitem.name}}</h4>
                <p>{{todoitem.description}}</p>
            </div>
            {%endfor%}
        </div>

    </div>
{% endblock  %}