{% extends 'base.html' %}

{% block items %}
    {% if is_logged_in %}
        <li class="nav-item px-4 change">
            <a class="nav-link font-nav pd-li-nav" href="/new_project">New Project</a>
        </li>
        <li class="nav-item px-4 change">
            <a class="nav-link font-nav pd-li-nav" href="/logout">Log Out</a>
        </li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="p-5 text-center">
        <h1 class="mb-3">Welcome to Projects Management.</h1>
        <h4 class="mb-3">This is the connected workspace where
            better, faster work happens.</h4>
        <a class="btn btn-primary btn-dark" href="" role="button">Get it free →</a>
    </div>
    <!-- Jumbotron -->
{% endblock %}