{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mid test</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.inputEmail.label (class="sr-only") }}
                    {{ form.inputEmail(class="form-control", placeholder="Email address") }} {% if form.inputEmail.errors %}
                        {% for error in form.inputEmail.errors %}
                        <div class="alert alert-danger">
                            <strong>Error:</strong> [{{ error }}]
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.inputPassword.label(class="sr-only") }}
                    {{ form.inputPassword (class="form-control", placeholder="Password") }} {% if form.inputPassword.errors %}
                        {% for error in form.inputPassword. errors %}
                        <div class="alert alert-danger">
                            <strong>Error:</strong> [{{ error }}]
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <p class="lead"></p>
                {{ form.submit(class="btn btn-lg btn-success btn-block") }}
            </form>
        </div>
    </div>
{% endblock %}
