<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>To do list app</title>
        <link href="../static/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body> <!--Header-->
        <div >
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/userhome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newTask">New Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Logout">Log out</a>
                    </li>
                </ul>
                </nav>
            <img src="../static/img/Logo-Vietcombank.jpg" alt="logo" style = "width:100%">
        </div>
        <!-- end header-->
        {% with messages = get_flashed_messages() %}
        {% if messages %} 
            {% for message in messages %}
            <div class="alert alert-danger"> 
                <strong>Error: </strong> [{{ message }}]
            </div>
            {% endfor %} 
        {% endif %} 
        {% endwith %}
        
        

        {% block content %} {% endblock %}
        <!-- Footer -->
        <div class="jumbotron" style="margin-bottom:0">
            <p>Copyright &copy; 2020 by HoangPN</p>
        </div>
        <!-- end footer -->
    </body>
</html>